.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
}

form {
  width: 50vw;
  background: var(--p-content-background);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 1000px) {
  form{
    width: 90vw;
  }
}

.row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.keyword{
  display: flex;
  gap: 20px;
}

.error{
  color: var(--p-red-500);
}

.item, input, p-select, p-autoComplete, .p-autocomplete{
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}
